html, body {
    margin: 0;
    padding: 0;
}
#profile-title {
    text-align: center;
    font-family: 'Timees New Roman', Times, serif;
    color: black
}
#resume-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%
}

#SectionOne {
    width: 100vw;
    height: 100vh;
    background-image: url(giphy.gif);
    background-size: cover;
    background-position: center;
}