html, body {
    margin: 0;
    padding: 0;
}

#profile-title {
    text-align: center;
    font-size: 48px;
    font-family: 'Timees New Roman', Times, serif;
    color: black;
    margin-left: 20px;
    padding: 20px;
}

.resume-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#SectionOne {
    width: 100vw;
    height: 100vh;
    background-image: url(giphy.gif);
    background-size: cover;
    background-position: center;
}

#name1 {
    text-align: center;
    font-family: 'Timees New Roman', Times, serif;
    color: white;
    margin-top: 0px;
    padding-top: 300px;
}

#title1 {
    text-align: center;
    font-family: 'Timees New Roman', Times, serif;
    color: white;
    margin-top: 0px;
    padding-top: 20px;
}

#profile-details {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: black;
}

#objective-statement {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: black;
    padding: 20px;
}

#SectionTwo {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#SectionThree {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

#education-title {
    text-align: center;
    font-size: 48px;
    font-family: 'Timees New Roman', Times, serif;
    color: black;
    padding: 20px;
}

#education-contents {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 20px;
    padding: 20px;
}

#School-logos {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#SectionFour {
    background-color: blue;
    color: white;
    width: 100vw;
    height: 100vh;
}

#working-title {
    margin-top: 0px;
    text-align: center;
    font-size: 48px;
    font-family: 'Timees New Roman', Times, serif;
    color: white;
    padding: 20px;
}

.work-contents {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 20px;
    padding: 20px;
}

#SectionFive {
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
}

#skills-title {
    text-align: center;
    font-size: 48px;
    font-family: 'Timees New Roman', Times, serif;
    color: black;
    margin: 0px;
    padding: 20px;
}

#skills-contents {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 20px;
    padding: 20px;
}

#SectionSix {
    background-color: lightyellow;
    width: 100vw;
    height: 100vh;
}

#awards-title {
    text-align: center;
    font-size: 48px;
    font-family: 'Timees New Roman', Times, serif;
    color: blue;
    margin: 0px;
    padding: 20px;
}

#awards-contents {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    margin-left: 20px;
    padding: 20px;
}